<script src="/static/js/jquery.min.js" ></script>
<script src='/static/js/swal.js'></script>
<script src="/static/js/mobile_jquery.min.js" ></script>

<script src= "/static/js/main.js"></script>

</body>
</html>